.product-recommendation {
  .product-list {
    @include flexbox(start, start);
    flex-wrap: wrap;
  }

  .product-item {
    width: calc((100% - 20px) / 2);
    margin-right: 20px;

    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom: 20px;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }

    a {
      display: block;

      &:active {
        img {
          transform: translate(-50%, -50%) scale(1.1);
        }

        .product-card-title {
          opacity: 0.5;
        }
      }
    }
  }

  @include responsive(T) {
    .product-item {
      width: calc((100% - 32px * 2) / 3);
      margin-right: 32px;
      margin-bottom: 0 !important;

      &:nth-child(2n) {
        margin-right: 32px;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }

      &:last-child {
        display: none;
      }
    }
  }

  @include responsive(D) {
    .product-item a:hover {
      img {
        transform: translate(-50%, -50%) scale(1.1);
      }

      .product-card-title {
        opacity: 0.5;
      }
    }
  }
}
