/*
* MOBILE ( < 768 ) -----------------------------
* fixture -------------------------- sm
* of column ------------------------ 4
* gutter --------------------------- 20px
* margin --------------------------- 5px
* container ------------------------ 100% - (5px * 2)
*/

/*
* TABLET ( >= 768 ) -----------------------------
* fixture -------------------------- md
* of column ------------------------ 12
* gutter --------------------------- 20px
* margin --------------------------- 30px
* container ------------------------ 100% - (30px * 2)
* max-container-size --------------- 960px
*/

/*
* TABLET ( >= 1200 ) -----------------------------
* fixture -------------------------- lg
* of column ------------------------ 12
* gutter --------------------------- 20px
* unit ----------------------------- 75px
* margin --------------------------- auto
* container ------------------------ 1140px
* max-container-size --------------- 1140px
*/

.container {
  width: 100%;
  padding: 0 $sm-margin;
  margin: 0 auto;

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  // .col-sm-1, .col-md-2, .col-lg-3 ...
  // .col- 로 시작하는 모든 엘리먼트 선택하는 선택자
  [class^='col-'] {
    padding: 0 $gutter / 2;
  }

  @for $i from 1 through $sm-columns {
    // @debug $i;
    .col-sm-#{$i} {
      width: percentage($i / $sm-columns);
    }
  }

  @include responsive(T) {
    max-width: $md-max-container;
    padding: 0 $md-margin;

    @for $i from 1 through $md-columns {
      .col-md-#{$i} {
        width: percentage($i / $md-columns);
      }
    }
  }

  @include responsive(D) {
    max-width: $lg-max-container;
    padding: 0;

    @for $i from 1 through $lg-columns {
      .col-lg-#{$i} {
        width: ($lg-unit + $gutter) * $i;
      }
    }
  }
}
